                led_0 {
                        label = "led0";
                        gpios = <&gpio1 0 GPIO_ACTIVE_LOW>;
                        default-state = "keep";
                };
                led_1 {
                        label = "led1";
                        gpios = <&gpio1 1 GPIO_ACTIVE_LOW>;
                        default-state = "keep";
                };
                led_2 {
                        label = "led2";
                        gpios = <&gpio1 4 GPIO_ACTIVE_LOW>;
                        default-state = "keep";
                };
                led_3 {
                        label = "led3";
                        gpios = <&gpio1 5 GPIO_ACTIVE_LOW>;
                        default-state = "keep";
                };
                led_4 {
                        label = "led4";
                        gpios = <&gpio1 3 GPIO_ACTIVE_LOW>;
                        default-state = "keep";
                };
                led_5 {
                        label = "led5";
                        gpios = <&gpio1 6 GPIO_ACTIVE_LOW>;
                        default-state = "keep";
                };
